@import 'styles/variables.module.scss';

.name {
  cursor: default;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  > span {
    &:hover {
      color: $color-secondary;
    }
  }
}
