// https://coolors.co/14110f-3e92cc-86a873-d8315b-f8c630
$color-smoky-black: #14110f;
$color-green-blue-crayola: #3e92cc;
$color-asparagus: #86a873;
$color-cerise: #d8315b;
$color-saffron: #f8c630;

$color-primary: $color-smoky-black;
$color-secondary: $color-cerise;
$color-tertiary: $color-saffron;
